header {
    height: 75px;
}

header>nav {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
}

header>nav>div {
    /* min-width: 50%; */
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.custom-nav-link {
    color: grey;
    font-size: large;
}

footer {
    height: 75px;
    color: grey;
    display: flex;
    justify-content: center;
}

.orange {
    color: orange;
}

.blue {
    color: blue;
}

.yellow {
    color: goldenrod;
}

.aqua {
    color: aqua;
}

.green {
    color: green;
}

.default {
    color: grey;
}